body {
    background-color: #f3f8fc;
}

#content {
    margin-top: 30px;
}

#mapinha {
    margin-top: 60px;
}

.page-footer {
    margin-top: 50px;
}

.flow-text {
    text-align: justify;
    text-indent: 4em;
}
